.container {
  display: flex;
  justify-content: space-around;
}
.space {
  width: 290px;
  height: 45px;
  /* border: 1px solid rgb(27, 23, 23); */
  border-radius: 3px;
  padding: 5px;
  /* background-color: rgba(194, 207, 204, 0.877); */
  justify-content: space-between;
  display: flex;

}

.delete{
  color: rgb(207, 53, 53);
  height:40px;
}
.cow{
color: rgb(207,53,53);
text-align: center;
}

.bar{
  height: 50px;
  text-align: right;
padding-top: 2%;
padding-right: 2%;
  background-color: rgb(191, 241, 224);
  font-style:unset;
  
}

.history-container {
  background-color: #fafafa15;
  width: 35%;
  max-width: 300px;
  height: 100vh;
  margin-top: 30px;
  justify-content: space-around;
}

.history-item {
  height: 20px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(128, 128, 128, 0.575);
  margin-bottom: 10px;
  background-color: white;
  padding: 4px;
}

.h1 {
  text-align: center;
  padding: 23px;
  background-color: skyblue;
  color: rgb(255, 255, 255);

}

.formstyle {
  width: 340px;
  height: 300px;
  margin-left: 20px;
  border: 3px solid skyblue;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 30%;
  background-color: skyblue;
}

input {
  width: 50px;
  height: 50px;
  background-color: rgba(19, 241, 137, 0.767);
  color: rgb(15, 14, 14);
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  font-size: 15px;
}

#calc {
  width: 275px;
  height: 15px;
  background-color: rgb(250, 241, 110);
  border: 5px solid rgb(250, 241, 110);
  border-radius: 3px;
  padding: 20px;
  margin: auto;
}
