.history-container {
  background-color: #fafafa;
  width: 20%;
  max-width: 400px;
  height: 100vh;
}

.history-item {
  height: 20px;
  border-radius: 6px; 
  box-shadow: 0 0 4px gray;
  margin-bottom: 10px;
  background-color: white;
  padding: 4px;
}
